.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: green;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    margin-left: 20px;
    padding: 15px;
  }  
  body{
    margin: 0;
    padding: 0;
    font-family: Serif;
    background: url(/img/bg.jpg) no-repeat;
    background-size: cover;
  }
  h1{ color: white;
      float: left;
      font-size: 25px;
      border-bottom: 6px solid green;
      margin-bottom: 50px;
      padding: 15px ;
      } 
  div.box {width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    padding: 8px ;}
  .box input{
    border: none;
    outline: none;
    background: none;
    color: lightgray;
    font-size: 20px;
    width: 80%;
    float: left;
    margin: 0 10px;
  }
  .link a:link, a:visited {background-color: white;
                     color: black;
                     border: 2px solid green;
                     border-radius: 12px;
                     padding: 5px 10px;
                     text-align: center;
                     text-decoration: none;
                     display: inline-block;}
  
  .link a:hover, a:active {background-color: green;
                     color: white;} 
  